root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
max_line_length = 120

[*.html]
indent_size = 2

# Don't trim whitespace because of double space <br/> thing in Markdown
[*.md]
trim_trailing_whitespace = false

[*.{yml, yaml, json}]
indent_size = 2
